<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>https://api.rawg.io/api</string>
	<key>API_KEY</key>
	<string>7ae8219470964f03aca669590891fbf4</string>
</dict>
</plist>
